<div class="product-info-tabs">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link pointer description"
         [ngClass]="{ active: isShowDescription }"
         (click)="toggleTab()">Описание</a>
      <a class="nav-item nav-link pointer feedbacks"
         [ngClass]="{ active: !isShowDescription }"
         (click)="toggleTab()">Отзывы {{product?.feedbacksCount}}</a>
    </div>
  </nav>
  <div class="tab-content">
    <div class="product-description" *ngIf="isShowDescription">{{product?.description}}</div>
    <ngx-shop-feedbacks class="add-feedback-block"
                        [feedbacks]="product?.feedbacks"
                        (addFeedbackEvent)="addFeedback($event)"
                        *ngIf="!isShowDescription"></ngx-shop-feedbacks>
  </div>
</div>
