<div class="list-group-item pointer" *ngFor="let category of categories; let i = index">
  <h5 class="mb-0 category-name" (click)="showSubCategories(i)">
    {{ category?.name }}
    <img loading="auto" src="assets/icons/icon-angle.svg" alt="angle-right" />
  </h5>
  <ul class="collapse pointer" data-parent="#accordion"
    [ngClass]="{show: isSubCategoryShown(i)}">
    <li class="sub-category" *ngFor="let subCategory of category?.subCategories"
        (click)="subCategorySelect(subCategory?.name, subCategory?._id)">
      <a class="sub-category-name"
         [ngStyle]="subCategory._id === currentCategoryId && { color: 'red' }">
        {{subCategory.name}}
      </a>
    </li>
  </ul>
</div>
